#on early-init
#    # Load some kernel modules we put in /system instead of /vendor
#    exec u:r:modprobe:s0 -- /system/bin/modprobe -a -d \
#        /system/lib/modules wlan rmnet_perf rmnet_shs

on boot
    # selinux nodes, hide permissive state
    chmod 0640 /sys/fs/selinux/enforce
    chmod 0440 /sys/fs/selinux/policy

service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

on init
   mount none /system/etc/dt2w /vendor/etc/init/android.hardware.power@1.2-service.rc bind

   chown system system /dev/input/event3
   chmod 0666 /dev/input/event3

service vendor.power-hal-1-2 /vendor/bin/hw/android.hardware.power@1.2-service
    class hal
    user system
    group system
    disabled
	
service power-hal-1-2 /system/bin/hw/android.hardware.power@1.2-service_picasso
    class hal
    user system
    group system input
    disabled
	
    stop vendor.power-hal-1-2
    start power-hal-1-2
